* {
  margin: 0;
  padding: 0;
}

.navbar {
  background-color: black;
}

.menu {
  display: flex;
  list-style: none;
}

.menu-item {
  padding: 20px;
}
.menu-item a {
  color: white;
  text-decoration: none;
}
.menu-item:hover {
  background-color: white;
}
.menu-item:hover a {
  color: black;
}

.header-image {
  background: url("./assets/images/header.jpg") no-repeat center;
  height: 100vh;
  display: flex;
    justify-content: center;
    align-items: center;
}
.header-title {
    background: rgb(26, 26, 26);
    color: white;
    height: 200px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;

}